* {
  margin: 0px;
  padding: 0px;
}
video {
  margin-top: 20px;
  width: 250px;
  height: 250px;
}
div.estructura {
  background-color: #bcbcbc;
  width: 100%;
  height: 100%;
}
div .cajaderecha {
  margin-top: 20px;
  margin-left: 20px;
  background-color: lime;
  width: 300px;
  height: 1000px;
  float: right;
}
div .cajaizquierda {
  margin-top: 20px;
  margin-left: 20px;
  background-color: lime;
  width: 300px;
  height: 1000px;
  float: left;
}
div .cajacentral {
  background-color: #ff8000;
  text-align: center;
  width: 1200px;
  position: absolute;
  left: 50%;
  margin-left: -600px;
}
div .encabezado {
  text-align: center;
}
div .pie {
  margin: auto;
  background-color: #753434;
  width: 100%;
  height: 20px;
  clear: both;
  text-align: center;
}
